{% extends "base.html" %}

{% block title %}我的资料{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body p-4">
                <h4 class="mb-4">👤 我的资料</h4>
                <table class="table table-borderless">
                    <tr><th>用户名</th><td>{{ user }}</td></tr>
                    <tr><th>注册时间</th><td>{{ info.registered_at }}</td></tr>
                </table>
                <div class="text-end mt-3">
                    <a href="{{ url_for('index') }}" class="btn btn-primary">返回聊天室</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}